:host {
	grid-area: main; 
	display: flex; 
	flex-direction: column;
	margin: 0 5px;
	gap: 5px;
}

.image-field {
	height: 350px; 
	position: relative; 
	overflow: hidden;
}

img {
	width: 100%; 
	height: 100%;
}

.image-field > div {
	position: absolute; 
	font-size: 28px; 
	color: white; 
	bottom: 30px; 
	left: 30px;
}

.info-field {
	height: 50px; 
	background-color: rgb(80, 80, 80);
	border-radius: 20px; 
	display: flex;
	align-content: center;
}

.info-field:hover {
	background-color: lightgray;
	cursor: pointer;
}

.interests-field {
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 3px;
}

.interests-container {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	border-radius: 10px;
	gap: 3px;
}

.interest-item {
	display: flex;
	align-items: center;
	background-color: gray;
	border-radius: 10px;
	gap: 5px;
}

.interest-item > p {
	padding-left: 5px;
	margin: 0;
}

.interest-item > button {
	width: 30px;
	height: 30px;
	border-radius: 10px;
	background-color: transparent;
	border: none;
}

.interest-item > button:hover {
	background-color: lightgray;
}