<app-sidebar-header #header [buttonIcon]="headerButtonIcon" [onClick]="openMenu">

</app-sidebar-header>
<div id="collections">
    
</div>
<div id="chat-list">
    <div *ngFor="let chat of chats">
        <app-chat-item
        (click)="toChatClick(chat.id)"
        [userIcon]="chat.avatar!"
        [fullName]="chat.name!" 
        [message]="getLastMessage(chat.id)"></app-chat-item>
    </div>
</div>

<button id="add-chat-button" (click)="addChatClick()">
    <img [src]="addGroupChatIcon" width="30" height="30">
</button>
