body {
	background-color: white;
	height: 100%;
	margin: 0;
}

html {
	height: 100%;
}

@keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}
  
.fade-out {
	animation-name: fadeOut;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
}