<div class="main-header">
  <img [src]="isComments(chat) ? postImage : chat?.avatar" 
    [alt]="isComments(chat) ? 'post image' : 'chat avatar'"
    (click)="isPrivate(chat) ? toProfile() : null"
    [style.cursor]="isPrivate(chat) ? 'pointer' : 'default'">

  <h1 (click)="isPrivate(chat) ? toProfile() : null"
    [style.cursor]="isPrivate(chat) ? 'pointer' : 'default'"> 
    <ng-container *ngIf="isComments(chat); else chatHeader">
      Comments
    </ng-container>
    <ng-template #chatHeader>
      {{ isGroup(chat) ? chat?.name : userData?.firstName + ' ' + userData?.lastName }}
    </ng-template>
  </h1>
</div>

<div class="main-content">
  <div *ngIf="hub.messages.length==0">
    <p>You haven't send or received messages</p>
  </div>
  <div class="message-list">
    <div *ngFor="let m of hub.messages" [ngClass]="{'own': isOwnMessage(m)}" class="message">
      <div *ngIf="!isOwnMessage(m)" class="sender-username">{{ m?.senderUserName }}</div>
      <div style="display: flex;">
        <div class="message-content">{{ m?.content }}</div>
        <span class="date">{{m?.timestamp | date: 'HH:mm'}}</span>
      </div>
    </div>
  </div>
</div>

<div class="message-input">
  <input  type="text"[(ngModel)]="text" placeholder="Message">
  <button [disabled]="text.length==0" (click)="sendMessage()">
    <img width="40px" height="40px" src="assets/arrow-right-gray.svg">
  </button>
</div>