:host {
	background-color: rgb(80, 80, 80);
	height: 100%;
	width: 100%;
}

:host(.main-container) {
	display: grid;
	grid-template-areas: "header header"
        "collections chats";
	grid-template-columns: 60px auto;
	grid-template-rows: 56px auto;
}

:host(.secondary-container) {
	display: grid;
	grid-template-areas: "header header"
        "main main";
	grid-template-columns: 60px auto;
	grid-template-rows: 56px auto;
}

#sidebar-header {
	align-items: center;
	display: flex;
	position: relative;
	gap: 10px;
	grid-area: header;
	margin: 0 10px;
}