<app-sidebar-header #header [buttonIcon]="headerButtonIcon" [hasSearchbar]="false" [onClick]="toMainSidebar">
    <div left-side style="width: 180px;">
        <p style="font-size: 24px; font-weight: bold;">Settings</p>
    </div>
    <app-round-button right-side [buttonIcon]="'assets/edit.svg'" (click)="isFormOpen = !isFormOpen"></app-round-button>
    <app-round-button right-side [buttonIcon]="'assets/log-out.svg'"></app-round-button>
</app-sidebar-header>

<div class="main-content">
    <app-settings-form 
        *ngIf="isFormOpen; else elseBlock"
        [userData]="userData"
        [userAvatarUrl]="userAvatarUrl">
    </app-settings-form>
    <ng-template #elseBlock class="field-container">
        <div class="image-field" *ngIf="userAvatarUrl">
            <img [src]="userAvatarUrl" alt="user avatar">
            <div>
                {{userData?.firstname}} {{userData?.lastname}}
            </div>
        </div>
        <div class="info-field">
            <p>Bio: {{userData?.bio}}</p>
        </div>
        <div class="info-field">
            <p>Username: {{userData?.username}}</p>
        </div>
        <div class="interests-field">
            <div class="interests-container">
                <div class="interest-item" *ngFor="let interest of userInterests">
                    <p>{{interest.name}}</p>
                    <button (click)="unlinkInterest(interest.name)">
                        <img src="assets/cross.svg">
                    </button>
                </div>
            </div>
            <form class="input-area" [formGroup]="applyForm" (submit)="onFormSubmit()" method="post">
                <input name="Name" type="text" formControlName="Name" placeholder="Enter interest">
                <button type="submit">
                    <img src="assets/plus.svg">
                </button>
            </form>
        </div>
    </ng-template>
</div>
