<app-sidebar-header #header [buttonIcon]="headerButtonIcon" [hasSearchbar]="false" [onClick]="toMainSidebar">
    <div left-side style="width: 180px;">
        <p style="font-size: 24px; font-weight: bold;">Settings</p>
    </div>
    <app-round-button right-side [buttonIcon]="'assets/edit.svg'" (click)="isFormOpen = !isFormOpen"></app-round-button>
    <app-round-button right-side [buttonIcon]="'assets/log-out.svg'"></app-round-button>
</app-sidebar-header>

<div class="main-content">
    <app-settings-form *ngIf="isFormOpen; else elseBlock"></app-settings-form>
    <ng-template #elseBlock class="field-container">
        <div class="image-field">
            <img src="https://th.bing.com/th/id/OIP.xvJQ0Mv4jhIPh2k0pAboAAHaEK?w=303&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7">
            <div>
                Max Download
            </div>
        </div>
        <div class="info-field">
            <p>Username: maxaytt</p>
        </div>
    </ng-template>
</div>
