:host {
	height: 72px;
	margin: 5px 5px;
	padding: 0px 5px;
	background-color: var(--primary-color);
	border-radius: 20px;
	align-items: center;
	display: flex;
	gap: 5px;
	cursor: pointer;
}

:host:hover {
	background-color: rgb(100, 100, 100);
}

.info {
	display: flex;
	flex-direction: column;
	align-items: flex-start; 
	justify-content: center;
	flex-grow: 1;
}

.user-icon {
	width: 60px;
	height: 60px;
}

.full-name {
    font-weight: bold;
}

img {
	border-radius: 50%;
}

.colon {
	padding-left: 2px;
	padding-right: 4px;
}

.message-content {
	color: var(--secondary-text-color);
}