:host {
	position: absolute;
	width: 300px;
	height: auto;
	top: 100%;
	padding: 5px;
	border-radius: 20px;
	box-shadow: 4px 4px 10px 0.5px rgb(16, 16, 16, 0.612);
	background-color: rgba(80, 80, 80, .9);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
}

:host > * {
	display: flex;
	gap: 20px;
	border-radius: 20px;
	padding: 5px 10px;
	transition: background-color 0.2s ease;
	align-items: center;
	color: rgb(240, 240, 240);
	font-size: 20px;
	
}

:host > *:hover {
	background-color: rgba(0, 0, 0, .5);
	cursor: pointer;
}
