<form id="profile-form" [formGroup]="applyForm" (submit)="onFormSubmit()" action="post">
    <div class="image-input">
        <img #image (click)="fileInput.click()" [src]="userAvatarUrl">
        <input #fileInput type="file" style="display: none" 
            accept=".jpg,.jpeg" (change)="updateImageSrc($event, image)"/>
    </div>
    <div class="field-input">
        <label for="Firstname">First name(required)</label>
        <input name="Firstname" type="text" formControlName="Firstname" [(ngModel)]="userData!.firstname">
    </div>
    <div class="field-input">
        <label for="Lastname">Last name(optional)</label>
        <input name="Lastname" type="text" formControlName="Lastname" [(ngModel)]="userData!.lastname">
    </div>
    <div class="field-input">
        <label for="Bio">Bio</label>
        <textarea name="Bio" formControlName="Bio" [(ngModel)]="userData!.bio"></textarea>
    </div>
    <div class="field-input">
        <label for="Username">Username</label>
        <input name="Username" type="text" formControlName="Username" [(ngModel)]="userData!.username">
    </div>
    <button class="primary" type="submit">submit</button>
</form>
