:host {
	background-color: rgb(80, 80, 80);
	display: grid;
	grid-template-areas: "header header"
        "collections chats";
	grid-template-columns: 60px auto;
	grid-template-rows: 56px auto;
	height: 100%;
	width: 100%;
}
#sidebar-header {
	align-items: center;
	display: flex;
	position: relative;
	gap: 10px;
	grid-area: header;
	margin: 0 10px;
}
#collections {
	background-color: red;
	grid-area: collections;
}
#chat-list {
	background-color: blue;
	grid-area: chats;
}