:host {
	grid-area: main; 
	display: flex; 
	flex-direction: column;
	margin: 0 5px;
	gap: 5px;
	color: white;
}

#profile-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

#profile-form > button{
	margin: 0 10px;
}

.image-input{
	height: 350px; 
	overflow: hidden;
}

.image-input img {
	height: 100%;
	width: 100%;
}

.image-input:hover {
	cursor: pointer;
}

.field-input {
	margin: 0 10px;
}

