<app-sidebar-header #header [buttonIcon]="headerButtonIcon" [hasSearchbar]="false" [onClick]="toMainSidebar">
    <div left-side style="width: 180px;">
        <p style="font-size: 24px; font-weight: bold;">Settings</p>
    </div>
    <app-round-button right-side [buttonIcon]="'assets/edit.svg'" (click)="navigateBack()"></app-round-button>
    <app-round-button right-side [buttonIcon]="'assets/log-out.svg'" (click)="logout()"></app-round-button>
</app-sidebar-header>

<router-outlet #main class="main-content"></router-outlet>